* {
    margin: 0;
    font-family: 'Cinzel', serif;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(92.38% 92.38% at 51.91% 4.64%, #FFFFFF 57.47%, rgba(255, 255, 255, 0) 100%), #FEFFC2;
}

#header-container {  
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #circle-sub-container {
        height: 300px;
        width: 30%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        #circle {
            border-radius: 50%;
            width: 100%;
            padding-bottom: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20.43%, #FFF1FF 53.26%, #FEFFE4 83.91%), radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FEFFE4 100%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 10px #E752FF;
            filter: blur(1px);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s;
            &:hover {
                filter: blur(0px);
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20.43%, rgb(234, 250, 255) 53.26%, #FEFFE4 83.91%), radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FEFFE4 100%);
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 10px rgb(82, 243, 255);
                transform: rotate(30deg);
                width: 97%;
                padding-bottom: 97%;
            }
    }   #bible-verse-text {
        position: absolute;
        z-index: 1;
        font-size: 3em;
        color: rgb(75, 75, 75);
        text-shadow: 2px 2px rgb(255, 185, 234);
    }
}
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-top: 1px solid rgb(240, 240, 240);
    .text-display {
        margin-top: 30vh;   
        width: 80%;
        height: auto;
        background: rgba(255, 252, 230, 0.9);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.52);
        border-radius: 35px;
        transition: .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            width: 80.4%;
        }
    }   #bible-verse-input {
        padding: 5%;
        font-size: 3rem;
        transition: .2s;
        &:hover {
            text-shadow: 1px 1px 1px #414141;
        }
    }
}